*.deb
debian/debian/usr
test02/runlapackmpi/startmpirun
*.err
*.xml
Makefile.*
testprogram?
mpiconf.inc
version.inc
*.f90_*
*.o
*.mod
*.a
a.out
*~
*.old
exciting
excitingmpi
excitingsmp
exciting_debug
exciting_gfortran
exciting_interfaces
*.dat
*.OUT
*.OUT.*
.cdtproject
.project
.settings
build/gfortran
build/parallel
build/mpiconf.inc
src/eos/eos
src/spacegroup/spacegroup
src/species/species
src/src_try
src/tools/atkp
local
examples/xs
.cdtproject
.project
.settings/*
make.inc
make.out
mpif.h
fort.*
*.diff
*.orig
outerr.*
output.*
*.tex
*.aux
*.dvi
*.log
*.toc
testsummary.*
.DS*
._.DS*
gitlog.txt
.resume
startmpirun 
