mpiconf.inc
version.inc
*.f90_*
*.o
*.mod
*.a
*~
*.old
exciting
excitingmpi
excitingsmp
exciting_debug
exciting_gfortran
exciting_interfaces
test
*.dat
*.OUT
*.OUT.*
.cdtproject
.project
.settings
build/gfortran
src/eos/eos
src/spacegroup/spacegroup
src/species/species
src/src_try
src/tools/atkp
libbzint
local
examples/xs
.cdtproject
.project
.settings/*
Makefile.*
make.inc
make.out
mpif.h
fort.*
*.diff
Makefile.serial
*.orig
output.*
outerr.*
testcase*
*.tex
*.aux
*.dvi
*.log
*.toc
testsummary.*
.DS*
._.DS*
gitlog.txt
