*.o
*.mod
*.a
exciting
excitingmpi
excitingsmp
exciting_debug
exciting_interfaces
*.dat
*.OUT
*.OUT.*
.cdtproject
.project
.settings
src/eos/eos
src/spacegroup/spacegroup
src/species/species
src/src_try
src/tools/atkp
local
examples/xs
.cdtproject
.project
.settings/*
Makefile.serial
Makefile.parallel
Makefile.smp
Makefile.debug
Makefile.interfaces
make.inc
make.out
mpif.h
fort.*
*.diff
Makefile.serial
output.*
outerr.*
testcase*
*.aux
*.dvi
*.log
*.toc
