/*Output color*/
div.output_subarea {
    background: #FFF8DC;
}

/*Left alignment for tables*/
table{
    float: left;
}

/*Table style*/
th, td {
    font-size: 13px;
    font-family: Verdana, sans-serif;
    background-color: #F7F2E0;
}
th {
  color: #FFFFFF;
  background-color: #61380B;
}
/*Add exciting logo*/
#ipython_notebook img {
    display:block;
    background: url("logotransp.png") no-repeat;
    background-size: contain;
    width: 100px;
    height: 200px;
    padding-left: 100px;
    padding-right: 50px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*Move toolbar down to make space for logo*/
#header-container {
    height: 100px;
}

#menubar-container {
    height: 70px;
}

span.save_widget span.filename {
    margin-top: 30px;
    margin-left: 40px;
}

/*Intro page style*/

body[data-notebook-path] {
    background-color:white;
}

.tabbable {
    color: black;
}

.nav-tabs {
    border-bottom-color: #cbd6f0;
}

.nav-tabs>li>a:hover, .nav>li>a:focus {
    background-color: #FFF8DC;
    border-color: #cbd6f0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: black;
    background-color: #FFF8DC;
    border-color: #cbd6f0;
}

.list_container {
    border-color: #cbd6f0;
}

.list_container>div {
    border-bottom-color: #cbd6f0;
}

.list_item:hover {
    background-color: #FFF8DC;
}

.list_header {
    background-color: #FFF8DC;
}

#notebook_list input[type="checkbox"] {
    opacity: 0.6;
}

.item_icon {
    color: black;
}

.item_icon:hover {
    color: white;
}

.panel {
    border-color: #cbd6f0;
    background-color: white;
}

.panel-default>.panel-heading {
    border-color: #cbd6f0;
}

#site .panel-group .panel .panel-heading {
    background-color: #FFF8DC;
}

#running .panel-group .panel .panel-body .list_container .list_item {
    border-bottom-color: #cbd6f0;
}

a {
    color: black;
}
p {
    color: black;
}

li {
    color: black;
}

/*Notebook background*/

@media not print {
    .notebook_app #notebook {
        background-color: #FFF8DC;

    }
    .notebook_app #notebook-container, .edit_app #texteditor-backdrop {
        background-color: 'white';
        border-radius: .35em;
    }
}

