Makefile
autom4te.cache/
build/Makefile
build/libxc.pc
config.h
config.status
libtool
src/.libs/
src/Makefile
src/funcs_gga.c
src/funcs_hyb_gga.c
src/funcs_hyb_mgga.c
src/funcs_key.c
src/funcs_lda.c
src/funcs_mgga.c
src/libxc.f90
src/libxc.la
src/libxc_funcs.f90
src/xc_funcs.h
stamp-h1
testsuite/Makefile
testsuite/xc-consistency
testsuite/xc-get_data
testsuite/xc-regression
