Makefile
build/Makefile
build/libxc.pc
config.h
config.status
libtool
src/.libs/
src/Makefile
src/funcs_gga.c
src/funcs_hyb_gga.c
src/funcs_hyb_mgga.c
src/funcs_key.c
src/funcs_lda.c
src/funcs_mgga.c
src/libxc.f90
src/libxc.la
src/libxc_funcs.f90
src/xc_funcs.h
stamp-h1
*.lo
config.h'
config.status'
libtool
src/libxc.f90'
autom4te.cache/
config.h
config.status
src/.libs/
src/funcs_gga.c
src/funcs_hyb_gga.c
src/funcs_lca.c
src/funcs_lda.c
src/funcs_mgga.c
src/libxc.f90
src/libxc_funcs.f90
src/xc_funcs.h
Makefile.in           
aclocal.m4           
build/Makefile.in    
config.h.in          
configure            
src/Makefile.in      
testsuite/Makefile.in
